
    <!--Header Start-->
    <header id="pq-header" class="pq-header-style-1 pq-has-sticky">
        <div class="pq-top-header">
            <div class="container-fluid">
            </div>
        </div>
        <div class="pq-bottom-header pq-has-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/">
                                <img class="img-fluid logo" src="images/logos/logo.png" alt="techtrix">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="pq-menu-contain" class="pq-menu-contain">
                                    <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                        
                                        <li class="menu-item current-menu-item manu-item-has-children ">
                                            <a href="/">Home</a>
                                           
                                        </li>
                                   
                                        <li class="menu-item">
                                            <a href="/about">About Us</a>
                                            
                                        </li>
                                        <li class="menu-item">
                                            <a href="/service">Services</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                            <ul class="sub-menu">
                                                <li class="menu-item current-menu-item">
                                                    <a href="/softwareDevelopment">Software Development</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/WebDevelopment">Web Development</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="/mobileDevelopment">Mobile Development</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="app-development.html">App Development</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="digital marketing.html">Digital marketing</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="buisness consulting.html">Buisness consulting</a>
                                                </li>
												<li class="menu-item">
                                                    <a href="Web Analytics.html">Web Analytics</a>
                                                </li>
												<li class="menu-item">
                                                    <a href="Ecommerce development.html">Ecommerce development</a>
                                                </li>
									<li class="menu-item">
                                                    <a href="Enterprise development.html">Enterprise development</a>
                                                </li>
												<li class="menu-item">
                                                    <a href="it staff augmentation.html">It Staff augmentation</a>
                                                </li>
												<li class="menu-item">
                                                    <a href="Branding and graphic design.html">Branding and graphic design</a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item">
                                            <a href="/products">Products</a>
                                            
                                        </li>
                                        <li class="menu-item">
                                            <a href="index.html">Web Hosting</a>
                                            
                                        </li>
                                          <li class="menu-item">
                                            <a href="index.html">Technology</a>
                                            
                                        </li>
                                          <li class="menu-item">
                                            <a href="index.html">Portfolio</a>
                                            
                                        </li>
                                         </li>
                                          <li class="menu-item">
                                            <a href="index.html">Careers</a>
                                            
                                        </li>
                                        <li class="menu-item">
                                            <a href="index.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="pq-header-info-box">
                                <div class="pq-header-call">
                                    <a href="tel:+180045647824">
                                        <i class="ion-ios-telephone"></i>
                                        <div class="pq-call-info">
                                            <h5>+91 9061 204 888</h5>
                                            <span>Make a call</span>
                                        </div>
                                    </a>
                                </div>
                                <a href="contact-us.html" class="pq-button">
                                    <div class="pq-button-block">
                                        <span class="pq-button-text">Free Quote</span>
                                    </div>
                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header End-->