<!--Footer Start-->
<footer id="pq-footer" class="style-1">
    <div class="pq-footer-style-1">
        <div class="pq-footer-top">
            <!-- footer top list  -->
            <div class="pq-footer-bottom-list">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-location-pin"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Address</h4>
                                    <span> 457,Gourandai Los Angeles,USA </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-mobile"></i>
                                <div class="pq-footer-items-info">
                                    <h4>call Us On</h4>
                                    <a href="tel:+180045647824">
                                        <span>+1-800-456-478-24</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items border-0">
                                <i class="ti-email"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Email Us</h4>
                                    <a href="https://peacefulqode.com/cdn-cgi/l/email-protection#62120703010704170e130d060722050f030b0e4c010d0f"><span><span class="__cf_email__" data-cfemail="18687d797b7d7e6d7469777c7d587f75797174367b7775">[email&#160;protected]</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top list -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="widget">
                            <img src="images/logos/footer-logo.png" class="pq-footer-logo" alt="gym-footer-logo">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered.</p>
                            <div class="pq-footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Our Services</h4>
                            <div class="menu-useful-service-links-container">
                                <ul id="menu-useful-service-links" class="menu">
                                    <li>
                                        <a href="/softwareDevelopment">Software Development</a>
                                    </li>
                                    <li>
                                        <a href="/webDevelopment">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="/mobiledevelopment">Mobile Development</a>
                                    </li>
                                    <li>
                                        <a href="/Appdevelopment">App Development</a>
                                    </li>
                                    <li>
                                        <a href="#">QA Testing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Useful link</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-usefull-link" class="menu">
                                    <li>
                                        <a href="#">Fact Search Engine</a>
                                    </li>
                                    <li>
                                        <a href="#">Learn and Code</a>
                                    </li>
                                    <li>
                                        <a href="#">Video Sharing Website</a>
                                    </li>
                                    <li>
                                        <a href="#">File &amp; URL Scanner</a>
                                    </li>
                                    <li>
                                        <a href="#">Online Software Package</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="pq-widget-menu widget">
                            <h4 class="footer-title">Recent post</h4>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">App promotes sales
                                            &amp; profits In It Solutions</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">In Depth Industry
                                            &amp; Ecosystem Analysis</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <span class="pq-copyright"><a target="_blank" href="#"> Copyright  All Rights
                                Reserved.</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-footer-link">
                            <ul>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Term Of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Back to top Start-->
<div id="back-to-top">
    <a class="top" id="#top" href="#"> <i class="fa fa-arrow-up"></i>
    </a>
</div>
<!--Back to top End-->