<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Effects Media</title>
    <!--favicon icon-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="rev/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="rev/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="rev/css/rs6.css">
    <!--owl carousel-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!--Progressbar CSS -->
    <link rel="stylesheet" href="css/progressbar.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="css/animations.min.css">
    <!-- Magnefic Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!--icon css -->
    <link rel="stylesheet" href="fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/themify-icons/themify-icons.css">
    <!--style css-->
    <link rel="stylesheet" href="css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <%- include('partials/userheader') %> 
    <%- body %>
    <%- include('partials/userfooter') %> 
    


      <!--Jquery js-->
      <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
      <!--Bootstrap js-->
      <script src="js/bootstrap.min.js"></script>
      <!--Owl Carousel js-->
      <script src="js/owl.carousel.min.js"></script>
      <!--isotope js-->
      <script src="js/isotope.pkgd.min.js"></script>
      <!--countTo js-->
      <script src="js/jquery.countTo.min.js"></script>
      <!--Maginfic-Popup js-->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Animation JS -->
      <script src="js/wow.min.js"></script>
      <!--Rev Slider js-->
      <script src="rev/js/rbtools.min.js"></script>
      <script src="rev/js/rs6.min.js"></script>
      <script src="js/rev-custom.js"></script>
      <!--Custom js-->
      <script src="js/rough-script.js"></script>
      <script src="js/rough-notation.iife.js"></script>
      <script src="js/rough-custom.js"></script>
      <script src="js/custom.js"></script>
  </body>
  <!-- Mirrored from peacefulqode.com/themes/techtrix/html/it-agency.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 May 2023 17:36:54 GMT -->
</html>
    