  <!-- Loading Start-->
  <div id="pq-loading">
    <div id="pq-loading-center">
        <img src="images/logos/logo.png" alt="loading">
    </div>
</div>
<!--Loading End -->

<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <div class="pq-breadcrumb-title">
                    <h1>
                       About Us </h1>
                </div>
                <div class="pq-breadcrumb-container">
                    <ol class="breadcrumb align-items-center">
                        <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                        </li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div>
            </nav>
        </div>
    </div>
</div>
</div>
<!--Breadcrumb End--> 
 
 <!--About Start-->
 <section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-us-img">
                    <img src="images/about-us/10.jpg" alt="">
                    <div class="floating-counter-2">
                        <div class="pq-counter pq-style-1">
                            <div class="pq-counter-contain">
                                <div class="pq-counter-info">
                                    <div class="pq-counter-num-prefix">
                                        <h5 class="timer pq-text-primary" data-to="20" data-speed="2000">25</h5>
                                        <span class="pq-counter-prefix pq-text-primary">+</span>
                                    </div>
                                    <p class="pq-counter-description">Years Of<br> Experience</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mt-4 mt-lg-0">
                <div class="pq-section pq-style-1 text-left">
                    <span class="pq-section-sub-title"># about us</span>
                    <h5 class="pq-section-title" id="business" data-high_text="Business" data-title_text="Product Devlopment For Better Business" data-rough_color="#fd4a18" data-rough_type="underline">OUR HISTORY</h5>
                    <p class="pq-section-description">Incepted in 2002, Effects is a Software Development, Information Technology Services and Consultancy firm providing competitively priced outsourcing services to companies Worldwide. From a single room office in Trivandrum, Kerala we have grown leaps and bounds to reach where we are now. Currently we have fully operational development centres in Cochin, Bangalore, Middle East, UK and US.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-fancy-box pq-fancybox-5">
                            <div class="pq-fancy-media">
                               <i class=" flaticon-design"></i>
                               <h5 class="pq-fancy-box-title">OUR EXPERTISE</h5>
                            </div>
                            <div class="pq-fancybox-info">
                               <p>Our customer base is spread across the industry covering publishing houses, Shipping & Logistics firms, Organizations in hospitality, healthcare, travel and tourism sectors, Graphics & Animation companies, Companies that deal with consumer durables, retailers, and companies specializing in agriculture, Builders & Developers and so on. With 1000+ websites under our belt we can assure top quality software services and maintenance. We have come to be known as one stop shop for all technology issues faced by organizations.
</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-fancy-box pq-fancybox-5">
                            <div class="pq-fancy-media">
                               <i class=" flaticon-ux-design"></i>
                               <h5 class="pq-fancy-box-title">OUR PROMISE</h5>
                            </div>
                            <div class="pq-fancybox-info">
                               <p>You are looking for a vendor to find cost effective and high quality solution for your problems. Our business analysts understand your issues first hand and offer you options in terms of solutions, technology for implementations and rationale behind the offerings. Our ever accessible customer care and uncompromised quality of deliverables make us very reliable. Cost effective solutions, impeccable project management and unbeatable domain expertise makes us the best find for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-fancy-box pq-fancybox-5">
                            <div class="pq-fancy-media">
                               <i class=" flaticon-ux-design"></i>
                               <h5 class="pq-fancy-box-title">OUR TEAM</h5>
                            </div>
                            <div class="pq-fancybox-info">
                               <p>Meet the members of our experienced team of top digital strategists, savvy designers, and skilled software engineers prepared to take care of your upcoming tasks.<br>
                                <strong>Ready to improve your competitive position?</strong><br>
Partner with Effects to stay ahead of competitors who are digital natives.
</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="about-us.html" class="pq-button pq-btn-flat">
                    <div class="pq-button-block">
                        <span class="pq-button-text">Let's Chat</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--About End-->

<!--Technology Start-->
<section class="pq-bg-grey pq-bg-img-1 exclusive">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title"># technology index</span>
                    <h5 class="pq-section-title" id="flexible" data-high_text="Flexible" data-title_text="We Provide Flexible IT Services" data-rough_color="#fd4a18" data-rough_type="underline">We Provide Flexible IT Services</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="pq-icon-box pq-style-7">
                    <div class="pq-icon">
                        <a href="main-home.html">
                            <i class="flaticon-ux-design"></i>
                        </a>
                    </div>
                    <div class="pq-icon-box-content">
                        <h4 class="pq-icon-box-title">Mobile Development</h4>
                        <p class="pq-icon-box-description">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-md-0">
                <div class="pq-icon-box pq-style-7">
                    <div class="pq-icon">
                        <a href="main-home.html">
                            <i class="flaticon-globe-1"></i>
                        </a>
                    </div>
                    <div class="pq-icon-box-content">
                        <h4 class="pq-icon-box-title">Website Development</h4>
                        <p class="pq-icon-box-description">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                <div class="pq-icon-box pq-style-7">
                    <div class="pq-icon">
                        <a href="main-home.html">
                            <i class="flaticon-user-interface"></i>
                        </a>
                    </div>
                    <div class="pq-icon-box-content">
                        <h4 class="pq-icon-box-title">Branding & Design</h4>
                        <p class="pq-icon-box-description">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                <div class="pq-icon-box pq-style-7">
                    <div class="pq-icon">
                        <a href="main-home.html">
                            <i class="flaticon-marketing"></i>
                        </a>
                    </div>
                    <div class="pq-icon-box-content">
                        <h4 class="pq-icon-box-title">Software Development</h4>
                        <p class="pq-icon-box-description">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Technology End-->




