 <!--Breadcrumb Start-->
 <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>
                            App Development </h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active">App Development</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Software Start-->
<section class="all-services">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="pq-widget">
                    <div class="pq-widget pq-widget-port p-0">
                        <div class="menu-service-menu-container">
                            <ul id="menu-service-menu" class="menu">
                                <li>
                                    <a href="software-development.html" aria-current="page">Software Development</a>
                                </li>

                                <li>
                                    <a href="web-development.html" aria-current="page">Web Development</a>
                                </li>

                                <li>
                                    <a href="mobile-development.html" aria-current="page">Mobile Development</a>
                                </li>

                                <li class="current-menu-item">
                                    <a href="app-development.html" aria-current="page">App Development</a>
                                </li>

                                <li>
                                    <a href="qa-testing.html" aria-current="page">QA Testing</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="media-image">
                    <a href="contact-us.html"><img src="images/ad.jpg" alt=""></a>
                </div>
                <div class="pq-widget pq-download">
                    <h5 class="pq-title">Brochures</h5>
                    <p class="pq-description">t is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout</p>
                    <a href="software-development.html" class="pq-button">
                        <div class="pq-button-block">
                            <span class="pq-button-text">Download Now</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 mt-4 mt-lg-0">
                <% if (posts) { %>
                    <% if (posts.image) { %>
                        <img style="width:40em; height: 35em;" src="<%= posts?.image %>" alt="">
                        <% } else { %>
                            <img src="images/about-us/1.png" alt="">
                            <% } %>
                            <% if (posts.title) { %>
                                <h2 class="pq-heading mt-4"><%= posts?.title %></h2>
                                <% } else { %>
                                    <h2 class="pq-heading mt-4">AGILE ANDROID APP DEVELOPMENT OF ANDROID APPS FOR CONTEMPORARY BUSINESSES</h2>
                                    <% } %>
                                    <% if (posts.description) { %>
                                        <p class="pq-description"><%= posts?.description %></p>
                                        <% } else { %>
                                            <p class="pq-description">Work with an Android development company that can take your app from conception to launch with a unique user experience, full-stack support, and usable features on all Android devices.</p>
                                            <% } %>
               
                <% } %>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="pq-fancy-box pq-fancybox-1">
                            <div class="pq-fancy-media">
                                <i class="flaticon-analytics"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">EXPERIENCE SEAMLESS ANDROID APP DEVELOPMENT</h5>
                                <p>We work with you to include a customised mobile user interface and user experience design for typical Android users. Select the Android online and mobile solutions that best suit your business's and your clients' needs.</p>
                                <a class="pq-button pq-btn-link" href="web-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="pq-fancy-box pq-fancybox-1 pq-mt-30 mb-4">
                            <div class="pq-fancy-media">
                                <i class="flaticon-globe"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">FRONT-END, BACK-END, AND FULL –STACK SUPPORT</h5>
                                <p>At whatever step of your mobile app development project, our interdisciplinary and adaptable team of front-end, back-end, and full-stack engineers offers scalable Android solutions.</p>
                                <a class="pq-button pq-btn-link" href="software-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-md-0">
                        <div class="pq-fancy-box pq-fancybox-1 pq-ml-30">
                            <div class="pq-fancy-media">
                                <i class="flaticon-front"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">ANDROID SOFTWARE PERFORMANCE TESTING</h5>
                                <p>Digital security and excellent performance are ensured during the Android development process by Effects. Your application will be bug and hacker-free thanks to our AI automated testing procedure.</p>
                                <a class="pq-button pq-btn-link" href="mobile-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
              <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="images/about-us/2.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0"><a href="about-us.html">OUR APPROACH</a>
                        </h2>
                        <p class="pq-description mb-0">We offer assistance at every stage of your mobile app development process.</p>
                        <ul class="pq-list-check">
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>ESTABLISHING A BLUEPRINT</span></a>
                                -First, we create a number of wireframes for your Android app that take into account both your users' wants and your company's goals. Mockups are shortlisted with the assistance of clients, and a final prototype is chosen.
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>APP DEVELOPMENT</span></a>
                                -Here, the Android prototype comes to life. Our programmers devote a lot of work to setting up the app's code, UI, and internal hardware. Before integrating source code, software development must first undergo extensive debugging.
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>USER TESTING, GO-TO-MARKET, & ONGOING SUPPORT</span></a>
                            
                            -Here, the Android prototype comes to life. Our programmers devote a lot of work to setting up the app's code, UI, and internal hardware. Before integrating source code, software development must first undergo extensive debugging.
                          </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>FLEXIBLE ANDROID DEVICE SOFTWARE DEVELOPMENT
                                        </span></a>
                                -For all Android devices, including tablets, desktops, Android Wear, Android TV, and mobile devices, we create a competitive browser-based experience.
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>USE CASES FOR ANDROID APP DEVELOPMENT
                                        </span></a>
                                -Your company has more chances to host a library of Android's special features when you use our bespoke Android app development services.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row border-0 pq-my-45 g-0">
                    <div class="col-lg-12">
                       
                    </div>
                </div>
              <center><h2 class="pq-about-title" style="font-size:37px;color: orange;"><a href="about-us.html">STREAMLINE YOUR SOFTWARE INTEGRATIONS
DOMINATE THE MARKET WITH UNLIMITED INNOVATION
MAXIMIZE REVENUE GENERATION
</a></h2></center>
              <p align="center" style="font-size:20px;"></p>

            </div>
            
                
            </div>
        </div>
    </div>
<!--Software End-->

<!--Footer Start-->
<footer id="pq-footer" class="style-1">
    <div class="pq-footer-style-1">
        <div class="pq-footer-top">
            <!-- footer top list  -->
            <div class="pq-footer-bottom-list">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-location-pin"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Address</h4>
                                    <span>TC 22/1824, Gr. Floor, DGS Building, Sasthamangalam, Trivandrum</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-mobile"></i>
                                <div class="pq-footer-items-info">
                                    <h4>call Us On</h4>
                                    <a href="tel:+180045647824">
                                        <span>+91 9061 204 888</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items border-0">
                                <i class="ti-email"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Email Us</h4>
                                    <a href="https://peacefulqode.com/cdn-cgi/l/email-protection#37475256545251425b4658535277505a565e5b1954585a"><span><span class="__cf_email__" data-cfemail="9bebfefaf8fefdeef7eaf4fffedbfcf6faf2f7b5f8f4f6">customercare@effectsworld.com</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top list -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="widget">
                            <img src="images/logos/footer-logo.png" class="pq-footer-logo" alt="gym-footer-logo">
                            <p>Incepted in 2002, Effects is a Software Development, Information Technology Services and
Consultancy firm providing competitively priced outsourcing services to companies Worldwide.</p>
                            <div class="pq-footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Our Services</h4>
                            <div class="menu-useful-service-links-container">
                                <ul id="menu-useful-service-links" class="menu">
                                    <li>
                                        <a href="software-development.html">Software Development</a>
                                    </li>
                                    <li>
                                        <a href="web-development.html">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="mobile-development.html">Mobile Development</a>
                                    </li>
                                    <li>
                                        <a href="app-development.html">App Development</a>
                                    </li>
                                    <li>
                                        <a href="qa-testing.html">QA Testing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Useful link</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-usefull-link" class="menu">
                                    <li>
                                        <a href="#">Fact Search Engine</a>
                                    </li>
                                    <li>
                                        <a href="#">Learn and Code</a>
                                    </li>
                                    <li>
                                        <a href="#">Video Sharing Website</a>
                                    </li>
                                    <li>
                                        <a href="#">File &amp; URL Scanner</a>
                                    </li>
                                    <li>
                                        <a href="#">Online Software Package</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="pq-widget-menu widget">
                            <h4 class="footer-title">Recent post</h4>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">App promotes sales
                                            &amp; profits In It Solutions</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">In Depth Industry
                                            &amp; Ecosystem Analysis</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <span class="pq-copyright"><a target="_blank" href="#">Copyright 2023 Effects media design
                                Reserved.</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-footer-link">
                            <ul>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Term Of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Back to top Start-->
<div id="back-to-top">
    <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back to top End-->
