 <!--Breadcrumb Start-->
 <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>
                            Branding and graphic design</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active">Branding and graphic design</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Software Start-->
<section class="all-services">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="pq-widget">
                    <div class="pq-widget pq-widget-port p-0">
                        <div class="menu-service-menu-container">
                            <ul id="menu-service-menu" class="menu">
                                <li>
                                    <a href="software-development.html" aria-current="page">Software Development</a>
                                </li>

                                <li>
                                    <a href="web-development.html" aria-current="page">Web Development</a>
                                </li>

                                <li>
                                    <a href="mobile-development.html" aria-current="page">Mobile Development</a>
                                </li>

                                <li class="current-menu-item">
                                    <a href="app-development.html" aria-current="page">App Development</a>
                                </li>

                                <li>
                                    <a href="qa-testing.html" aria-current="page">QA Testing</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="media-image">
                    <a href="contact-us.html"><img src="images/ad.jpg" alt=""></a>
                </div>
            
            </div>
            <div class="col-xl-8 col-lg-8 mt-4 mt-lg-0">
                <img src="images/about-us/1.png" alt="">
                <h2 class="pq-heading mt-4">OUR BRANDING & GRAPHIC DESIGN SERVICES</h2>
                <p>&nbsp;</p>
                <p class="pq-description"></p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="pq-fancy-box pq-fancybox-1">
                            <div class="pq-fancy-media">
                                <i class="flaticon-analytics"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">WEB APP DEVELOPMENT</h5>
                                <p>With a fully tailored web application that comprehends your business demands and objectives, you can improve client interactions and exponentially expand operations.</p>
                                <a class="pq-button pq-btn-link" href="web-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="pq-fancy-box pq-fancybox-1 pq-mt-30 mb-4">
                            <div class="pq-fancy-media">
                                <i class="flaticon-globe"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">MOBILE DEVELOPMENT</h5>
                                <p>Provide them with a fantastic mobile experience to get your business in their hands. Increase client loyalty, brand recognition, and revenue with our industry-leading mobile development services.</p>
                                <a class="pq-button pq-btn-link" href="software-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-md-0">
                        <div class="pq-fancy-box pq-fancybox-1 pq-ml-30">
                            <div class="pq-fancy-media">
                                <i class="flaticon-front"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">DIGITAL MARKETING</h5>
                                <p>Big ideas can become success stories with the correct marketing strategy. Use a persuasive digital strategy created by a qualified team of marketing experts to draw in and retain new clients.</p>
                                <a class="pq-button pq-btn-link" href="mobile-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                            
                        </div>
                        
                             <div class="pq-fancy-box pq-fancybox-1 pq-mt-30 pq-ml-30 mb-4">
                            <div class="pq-fancy-media">
                                <i class=" flaticon-computer"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">INTERNET BRANDING</h5>
                                <p>In order to ensure that your branding is aligned to draw in the correct audience, our team tackles the ostensibly complicated process of online branding, handling everything from brand strategy development to execution.</p>
                                <a class="pq-button pq-btn-link" href="app-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                           <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="pq-fancy-box pq-fancybox-1">
                            <div class="pq-fancy-media">
                                <i class="flaticon-analytics"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">BUSINESS CONSULTING</h5>
                                <p>Technology is intricate. Utilize digital innovation to its fullest by adhering to a well-defined change roadmap. Without taking any risks, update your software and put new systems in place.</p>
                                <a class="pq-button pq-btn-link" href="web-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="pq-fancy-box pq-fancybox-1 pq-mt-30 mb-4">
                            <div class="pq-fancy-media">
                                <i class="flaticon-globe"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">PROOF-OF-CONCEPT AND PROTOTYPING</h5>
                                <p>Rapid prototyping lowers costs, lowers risk, and positions your company for success. By establishing priorities and removing uncertainty beforehand, Effects enables you to construct with confidence.</p>
                                <a class="pq-button pq-btn-link" href="software-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-md-0">
                        <div class="pq-fancy-box pq-fancybox-1 pq-ml-30">
                            <div class="pq-fancy-media">
                                <i class="flaticon-front"></i>
                            </div>
                            <div class="pq-fancybox-info">
                                <h5 class="pq-fancy-box-title">ECOMMERCE DEVELOPMENT</h5>
                                <p>Have a product to sell? Profitably increase sales by using an easy-to-use e-commerce gateway designed to meet your unique company requirements. On whatever device, provide a superior customer experience.</p>
                                <a class="pq-button pq-btn-link" href="mobile-development.html">
                                    <span class="text">Read More</span>
                                </a>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    
                    
              </div>
                </section>
              <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="images/about-us/2.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0"><a href="about-us.html">WHAT SETS US APART</a>
                        </h2>
                        <p>&nbsp;</p>
                        <p class="pq-description mb-0"></p>
                        <ul class="pq-list-check">
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>WITH YOU EVERY STEP OF THE WAY</span></a>
                                -Writing the ideal story for your company can seem difficult. We are by your side throughout the entire branding and marketing process.
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>FAST AND EFFECTIVE</span></a>
                                -In order to guarantee that our deliverables satisfy your business requirements precisely on time, we set up a reasonable and progressive timeline.
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>STAND IN A CATEGORY OF YOUR OWN</span></a>
                            -You'll never have to be concerned about your brand identification being comparable to that of your rivals. Every customer we work with benefits from the unique viewpoint our professionals provide.
                          </li>
                        </ul>
                  </div>
                </div>
                <div class="row border-0 pq-my-45 g-0">
                    <div class="col-lg-12">
                       
                    </div>
                </div>
              <center><h2 class="pq-about-title" style="font-size:37px;color: orange;"><a href="about-us.html">
</a></h2></center>
              <p align="center" style="font-size:20px;"></p>

            </div>
            
                
            </div>
        </div>
    </div>


            </div>
        </div>
</div>
<!--Software End-->

<!--Footer Start-->
<footer id="pq-footer" class="style-1">
    <div class="pq-footer-style-1">
        <div class="pq-footer-top">
            <!-- footer top list  -->
            <div class="pq-footer-bottom-list">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-location-pin"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Address</h4>
                                    <span>TC 22/1824, Gr. Floor, DGS Building, Sasthamangalam, Trivandrum</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-mobile"></i>
                                <div class="pq-footer-items-info">
                                    <h4>call Us On</h4>
                                    <a href="tel:+180045647824">
                                        <span>+91 9061 204 888</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items border-0">
                                <i class="ti-email"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Email Us</h4>
                                    <a href="https://peacefulqode.com/cdn-cgi/l/email-protection#37475256545251425b4658535277505a565e5b1954585a"><span><span class="__cf_email__" data-cfemail="9bebfefaf8fefdeef7eaf4fffedbfcf6faf2f7b5f8f4f6">customercare@effectsworld.com</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top list -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="widget">
                            <img src="images/logos/footer-logo.png" class="pq-footer-logo" alt="gym-footer-logo">
                            <p>Incepted in 2002, Effects is a Software Development, Information Technology Services and
Consultancy firm providing competitively priced outsourcing services to companies Worldwide.</p>
                            <div class="pq-footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Our Services</h4>
                            <div class="menu-useful-service-links-container">
                                <ul id="menu-useful-service-links" class="menu">
                                    <li>
                                        <a href="software-development.html">Software Development</a>
                                    </li>
                                    <li>
                                        <a href="web-development.html">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="mobile-development.html">Mobile Development</a>
                                    </li>
                                    <li>
                                        <a href="app-development.html">App Development</a>
                                    </li>
                                    <li>
                                        <a href="qa-testing.html">QA Testing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Useful link</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-usefull-link" class="menu">
                                    <li>
                                        <a href="#">Fact Search Engine</a>
                                    </li>
                                    <li>
                                        <a href="#">Learn and Code</a>
                                    </li>
                                    <li>
                                        <a href="#">Video Sharing Website</a>
                                    </li>
                                    <li>
                                        <a href="#">File &amp; URL Scanner</a>
                                    </li>
                                    <li>
                                        <a href="#">Online Software Package</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="pq-widget-menu widget">
                            <h4 class="footer-title">Recent post</h4>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">App promotes sales
                                            &amp; profits In It Solutions</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">In Depth Industry
                                            &amp; Ecosystem Analysis</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <span class="pq-copyright"><a target="_blank" href="#">Copyright 2023 Effects media design
                                Reserved.</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-footer-link">
                            <ul>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Term Of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Back to top Start-->
<div id="back-to-top">
    <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back to top End-->
