    <!--Breadcrumb Start-->
    <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Contact Us</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->
    
    <!--Contacts & Forms Start-->
    <section class="contact-form">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-lg-5">
                    <div class="pq-bg-dark pq-contact-form-p">
                        <div class="pq-section pq-style-1 text-left">
                            <h5 class="pq-section-title pq-text-white" id="contacts" data-high_text="Contacts" data-title_text="Our Contacts" data-rough_color="#fd4a18" data-rough_type="underline">Our Contacts</h5>
                            <p class="pq-section-description pq-text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pq-icon-box pq-style-5">
                                        <div class="pq-icon">
                                            <a href="#"><i class="ion ion-ios-location"></i></a>
                                        </div>
                                        <div class="pq-icon-box-content">
                                            <h4 class="pq-text-white">Our Address</h4>
                                            <p class="pq-text-white mb-0">The Queen's Walk, Bishop's, London SE1 7PB,<br> United Kingdom</p>
                                        </div>
                                    </div>
                                    <div class="pq-icon-box pq-style-5">
                                        <div class="pq-icon">
                                            <a href="#"><i class="ion ion-email"></i></a>
                                        </div>
                                        <div class="pq-icon-box-content">
                                            <h4 class="pq-text-white">E-Mail Address</h4>
                                            <p class="pq-text-white mb-0"><a href="https://peacefulqode.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4821262e2708382d292b2d2e3d2439272c2d662b2725">[email&#160;protected]</a></p>
                                            <p class="pq-text-white mb-0"><a href="https://peacefulqode.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d04030b025f2d1d080c0e080b18011c020908430e0200">[email&#160;protected]</a></p>
                                        </div>
                                    </div>
                                    <div class="pq-icon-box pq-style-5">
                                        <div class="pq-icon">
                                            <a href="#"><i class="fas fa-phone"></i></a>
                                        </div>
                                        <div class="pq-icon-box-content">
                                            <h4 class="pq-text-white">Phone Number</h4>
                                            <p class="pq-text-white mb-0"> + (567) 1234-567-8900 </p>
                                            <p class="pq-text-white mb-0"> + (567) 1234-567-8901 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mt-4 mt-lg-0">
                    <div class="form-div">
                        <div class="pq-section pq-style-1 text-left">
                            <h5 class="pq-section-title" id="quote" data-high_text="Quote" data-title_text="Request A Quote" data-rough_color="#fd4a18" data-rough_type="underline">Request A Quote</h5>
                            <p class="pq-section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s</p>
                        </div>
                        <form id="contact-form" action="/contactsubmit" method="post" class="pq-contactform " novalidate>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="first-name" name="name" class="name-field" placeholder="Your Name">
                                    <div class="error-message" style="color: red;" id="first-name-error"></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="e-mail" name="email" class="e-mail-field" placeholder="Email">
                                    <div class="error-message" style="color: red;" id="e-mail-error"></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="tel" id="phone-number" name="phonenumber" class="phone-number-field" placeholder="Cell Phone">
                                    <div class="error-message" style="color: red;" id="phone-number-error"></div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input type="text" id="subject" name="subject" class="subject-field" placeholder="Subject">
                                    <div class="error-message" style="color: red;" id="subject-error"></div>
                                </div>
                                <div class="col-lg-12">
                                    <textarea id="message" name="message" rows="5" cols="10" placeholder="Your Message"></textarea>
                                    <div class="error-message" style="color: red;" id="message-error"></div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="pq-button form-btn">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Send Message</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contacts & Forms End-->

    <!--Map Start-->
    
    <!--Map ENd-->

  


    <script>
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            var isValid = true;
            
            function showError(fieldId, message) {
                document.getElementById(fieldId + '-error').textContent = message;
                isValid = false;
            }
    
            function clearError(fieldId) {
                document.getElementById(fieldId + '-error').textContent = '';
            }
            
            // Validate first name
            var firstName = document.getElementById('first-name').value;
            if (firstName.trim() === '') {
                showError('first-name', 'Please enter your name.');
            } else {
                clearError('first-name');
            }
    
            // Validate email
            var email = document.getElementById('e-mail').value;
            if (!/^\S+@\S+\.\S+$/.test(email)) {
                showError('e-mail', 'Please enter a valid email address.');
            } else {
                clearError('e-mail');
            }
    
            // Validate phone number
            var phoneNumber = document.getElementById('phone-number').value;
            if (!/^\d{10}$/.test(phoneNumber)) {
                showError('phone-number', 'Phone number must be 10 digits.');
            } else {
                clearError('phone-number');
            }
    
            // Validate subject
            var subject = document.getElementById('subject').value;
            if (subject.trim() === '') {
                showError('subject', 'Please enter a subject.');
            } else {
                clearError('subject');
            }
    
            // Validate message
            var message = document.getElementById('message').value;
            if (message.trim() === '') {
                showError('message', 'Please enter your message.');
            } else {
                clearError('message');
            }
    
            if (!isValid) {
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>