    <!-- Loading Start-->
    <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="images/logos/logo-1.png" alt="loading">
        </div>
    </div>
    <!--Loading End -->
<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>
                            Web Development </h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active">Web Development</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Software Start-->
<section class="all-services">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="pq-widget">
                    <div class="pq-widget pq-widget-port p-0">
                        <div class="menu-service-menu-container">
                            <ul id="menu-service-menu" class="menu">
                                <li>
                                    <a href="software-development.html" aria-current="page">Software Development</a>
                                </li>

                                <li class="current-menu-item">
                                    <a href="web-development.html" aria-current="page">Web App Development</a>
                                </li>
                                
                                <li>
                                    <a href="web-development.html" aria-current="page">Digital Marketing</a>
                                </li>
                                
                                <li>
                                    <a href="web-development.html" aria-current="page">Ecommerce Development</a>
                                </li>
                                
                                <li>
                                    <a href="web-development.html" aria-current="page">IOS App Development</a>
                                </li>
                                
                                <li>
                                    <a href="web-development.html" aria-current="page">Enterprise Development</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            
            </div>
            <div class="col-xl-8 col-lg-8 mt-4 mt-lg-0">
                <img src="images/about-us/3.png" alt="">
                <h2 class="pq-heading mt-4">&nbsp;</h2>
            </div>
            <div  class="parallax">
                <center><h2 class="pq-heading mt-4">WEB DEVELOPMENT FOR BUSINESSES USING FULL STACK</h2>
                  <p>&nbsp;</p>
                </center>
                <p class="pq-description" align="justify">We don't only create websites. We design and build websites that are built to deliver outstanding user experiences. We've been developing high-performance websites and online applications using cutting-edge frameworks and technologies for years. Our team of designers and developers has relentlessly assisted businesses seeking digital excellence and change.</p>
             
            <section class="container pt-3 mb-3">
<h2 class="h3 block-title text-center" style="color:orange;font-size:50px;"><small>OUR WEB DEVELOPMENT & DESIGN SERVICES</small></h2>
                <span>With our extensive range of service options designed to assist you in exceeding your sales targets and lead generation activities, you may improve the performance of your website.</span>
<div class="row pt-5 mt-30">
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
            <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-user fa-3x head-icon"></i></div>
            <div class="card-body text-center">
                <h3 class="card-title pt-1">WEB DESIGN</h3>
                <p class="card-text text-sm">Get a stunning, dynamic website to stand out from the competition while providing a smooth client experience.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
            <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-user-circle-o fa-3x head-icon"></i></div>
            <div class="card-body text-center">
                <h3 class="card-title pt-1">SEARCH ENGINE OPTIMIZATION</h3>
                <p class="card-text text-sm">By employing a customised optimization plan appropriate for any sector niche, our knowledgeable SEO consultants will take the essential steps to guarantee that your company ranks highly on Google.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
            <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-address-book fa-3x head-icon"></i></div>
            <div class="card-body text-center">
                <h3 class="card-title pt-1">PPC (PAY-PER-CLICK) & PAID SEARCH</h3>
                <p class="card-text text-sm">With years of combined experience, Effects knows how to target the proper audience and provide clients with the highest return on investment.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
            <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-car fa-3x head-icon"></i></div>
            <div class="card-body text-center">
                <h3 class="card-title pt-1">UX/UI DESIGN</h3>
                <p class="card-text text-sm">Have design suggestions that can boost team performance and enable your company to achieve record-breaking consumer engagement and retention.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
            <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-camera fa-3x head-icon"></i></div>
            <div class="card-body text-center">
                <h3 class="card-title pt-1">DIGITAL MARKETING</h3>
                <p class="card-text text-sm">When you collaborate with our professionals, you may create a great online digital marketing strategy and fit it with your organisational goals.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-30 pb-5">
        <a class="card" href="#">
            <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa fa-image fa-3x head-icon"></i></div>
            <div class="card-body text-center">
                <h3 class="card-title pt-1">WEB AUTOMATION AND RESPONSIVE TESTING</h3>
                <p class="card-text text-sm">Our team uses automation and responsive testing to assess the current performance of your website and offer suggestions to create a design path for your website's optimization strategy.</p><span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fe-icon-arrow-right"></i></span>
            </div>
        </a>
    </div>
</div>
</section>


                
                
    
            <div class="container">
                <div class="row mt-4 align-items-center border-2">
                    <div class="col-lg-6">
                        <img src="images/about-us/2.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="pq-about-title mt-4 mt-lg-0"><a href="about-us.html">Our Approach</a>
                        </h2>
                        <p class="pq-description mb-0">We offer assistance at every stage of your website development process.</p>
                        <ul class="pq-list-check">
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>RESEARCH AND DISCOVERY</span></a>
                                -Our team will conduct the appropriate research about your business to gauge an overall vision and direction for your website development plan
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>PROCESS DEVELOPMENT</span></a>
                                -We enter planning mode and decipher a compatible development process that aligns with your business values and modern design trends.
                            </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>DELIVERY</span></a>
                            
                            -Our experts will implement your website development plan, doubling down on structure, design, and customer deliverables—then we test it all.
                          </li>
                            <li class="list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i><span>ONGOING SUPPORT
                                        </span></a>
                                -Even when the job is done, we are not. After discovering the results of your website development process, we work with you to reiterate and strategize for greater results.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row border-0 pq-my-45 g-0">
                    <div class="col-lg-12">
                       
                    </div>
                </div>
              

            </div>
        </div>
    </div>
    </div>

<!--Software End-->
    
    
        <!--It Technology Start-->
<section class="pq-bg-img-5 pq-bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="pq-section pq-style-1 text-center">
                    <span class="pq-section-sub-title">#</span>
                    <h5 class="pq-section-title pq-text-white" id="relationships" data-high_text="Relationships" data-title_text="We Deliver Solution With Goal Of Trusting Relationships" data-rough_color="#fd4a18" data-rough_type="underline">Frameworks for developing websites</h5>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-20">
                <div class="pq-icon-box pq-style-4">
                    <div class="pq-icon-box-wrapper">
                        <div class="pq-icon">
                            <a href="web-development.html"><img src="images/bootstrap.png"/></a>
                        </div>
                        <div class="pq-icon-box-content">
                            <h3 class="pq-text-white"><a href="web-development.html">Bootstrap</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-20 mt-4 mt-md-0">
                <div class="pq-icon-box pq-style-4">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon-box-wrapper">
                            <div class="pq-icon">
                                <a href="mobile-development.html"><img src="images/wordpress.png"/></a>
                            </div>
                            <div class="pq-icon-box-content">
                                <h3 class="pq-text-white"><a href="mobile-development.html">Wordpress</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-20 mt-4 mt-xl-0">
                <div class="pq-icon-box pq-style-4">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon-box-wrapper">
                            <div class="pq-icon">
                                <a href="app-development.html"><img src="images/magento.png"/></a>
                            </div>
                            <div class="pq-icon-box-content">
                                <h3 class="pq-text-white"><a href="app-development.html">Magento</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-20 mt-4 mt-xl-0">
                <div class="pq-icon-box pq-style-4">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon-box-wrapper">
                            <div class="pq-icon">
                                <a href="qa-testing.html"><img src="images/shopify.png"/></a>
                            </div>
                            <div class="pq-icon-box-content">
                                <h3 class="pq-text-white"><a href="qa-testing.html">Shopify</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-20 mt-4 mt-xl-0">
                <div class="pq-icon-box pq-style-4">
                    <div class="pq-icon-box pq-style-4">
                        <div class="pq-icon-box-wrapper">
                            <div class="pq-icon">
                                <a href="software-development.html"><img src="images/angular.png"/></a>
                            </div>
                            <div class="pq-icon-box-content">
                                <h3 class="pq-text-white"><a href="software-development.html">Angular</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    
<!--It Technoloty End-->

    
    
    <div class="services pd">
  <div class="container">
    <h3 class="title">TECHNOLGIES WE  USE</h3>
    <div class="row text-center">
      <div class="col-md-3">
        <div class="square"><i class="fas fa-code"></i></div>
        <div class="serv">
          <h5>BACKEND TECHNOLOGIES</h5>
          <p>Node.js
PHP
.NET
Python
</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="serv">
          <div class="square"><i class="fas fa-cogs"></i></div>
          <h5>FRONTEND TECHNOLOGIES</h5>
          <p>Angular
ReactJS
Vue.js
</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square"><i class="fas fa-globe"></i></div>
        <div class="serv">
          <h5>DATABASE TECHNOLGIES</h5>
          <p>MSSQL
MySQL
MongoDB
Postgres
Firestore
</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="square"><i class="fas fa-user-shield"></i></div>
        <div class="serv">
          <h5>MOBILE TECHNOLOGIES</h5>
          <p>SWIFT
Kotlin
Java
Flutter
</p>
        </div>
      </div>
    </div>
  </div>
</div>
    
    
    
    
    
    
    
<!--Footer Start-->
<footer id="pq-footer" class="style-1">
    <div class="pq-footer-style-1">
        <div class="pq-footer-top">
            <!-- footer top list  -->
            <div class="pq-footer-bottom-list">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-location-pin"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Address</h4>
                                    <span>TC 22/1824, Gr. Floor, DGS Building, Sasthamangalam, Trivandrum</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items">
                                <i class="ti-mobile"></i>
                                <div class="pq-footer-items-info">
                                    <h4>call Us On</h4>
                                    <a href="tel:+180045647824">
                                        <span>+91 9061 204 888</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0">
                            <div class="pq-footer-items border-0">
                                <i class="ti-email"></i>
                                <div class="pq-footer-items-info">
                                    <h4>Email Us</h4>
                                    <a href="https://peacefulqode.com/cdn-cgi/l/email-protection#abdbcecac8cecddec7dac4cfceebccc6cac2c785c8c4c6"><span><span class="__cf_email__" data-cfemail="72021713111714071e031d161732151f131b1e5c111d1f">customercare@effectsworld.com</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top list -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="widget">
                            <img src="images/logos/footer-logo.png" class="pq-footer-logo" alt="gym-footer-logo">
                            <p>Incepted in 2002, Effects is a Software Development, Information Technology Services and
Consultancy firm providing competitively priced outsourcing services to companies Worldwide.</p>
                            <div class="pq-footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Our Services</h4>
                            <div class="menu-useful-service-links-container">
                                <ul id="menu-useful-service-links" class="menu">
                                    <li>
                                        <a href="software-development.html">Software Development</a>
                                    </li>
                                    <li>
                                        <a href="web-development.html">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="mobile-development.html">Mobile Development</a>
                                    </li>
                                    <li>
                                        <a href="app-development.html">App Development</a>
                                    </li>
                                    <li>
                                        <a href="qa-testing.html">QA Testing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Useful link</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-usefull-link" class="menu">
                                    <li>
                                        <a href="#">Fact Search Engine</a>
                                    </li>
                                    <li>
                                        <a href="#">Learn and Code</a>
                                    </li>
                                    <li>
                                        <a href="#">Video Sharing Website</a>
                                    </li>
                                    <li>
                                        <a href="#">File &amp; URL Scanner</a>
                                    </li>
                                    <li>
                                        <a href="#">Online Software Package</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="pq-widget-menu widget">
                            <h4 class="footer-title">Recent post</h4>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">App promotes sales
                                            &amp; profits In It Solutions</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                            <div class="pq-footer-recent-post">
                                <div class="pq-footer-recent-post-media">
                                    <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        <img src="images/footer-blog/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="pq-footer-recent-post-info">
                                    <h6><a href="app-promotes-sales-profits-in-it-solutions.html">In Depth Industry
                                            &amp; Ecosystem Analysis</a></h6>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html"
                                        class="pq-post-date">January <span>26</span>, 2021 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <span class="pq-copyright"><a target="_blank" href="#">Copyright 2023 Effects media design
                                Reserved.</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-footer-link">
                            <ul>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Term Of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Back to top Start-->
<div id="back-to-top">
    <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back to top End-->
